@import '../variables.scss';

.wrapper {
  width: 75%;
  min-height: 600px;
  max-height: 600px;
  float: left;
  overflow: scroll;
}

.card {
  &_list {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 220px;
    justify-content: center;
  }

  &_item {
    border: 2px solid $black;
    width: 250px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative;
  }

  &_delete {
    position: absolute;
    left: 225px;
    top: 5px;
    background-color: rgba(28, 28, 28, 0);
    border: none;
    cursor: pointer;
  }
}
