@import '../variables.scss';

.button {
  width: 100px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid $blue;
  border-radius: 5px;
  background-color: $white;
  text-align: center;
}
